<div class="ops-filter cardx mb-3">
  <form method="get" class="row g-3 align-items-end">
    <div class="col-md-3"><label class="form-label">Tanggal Mulai</label><input class="form-control" type="date" name="date_from" value="{{ date_from|date:'Y-m-d' }}"></div>
    <div class="col-md-3"><label class="form-label">Tanggal Selesai</label><input class="form-control" type="date" name="date_to" value="{{ date_to|date:'Y-m-d' }}"></div>
    <div class="col-md-3"><label class="form-label">Kolam</label><select class="form-select" name="pond"><option value="">Semua Kolam</option>{% for p in ponds %}<option value="{{p.id}}" {% if request.GET.pond == p.id|stringformat:'s' %}selected{% endif %}>{{p.name}}</option>{% endfor %}</select></div>
    <div class="col-md-3 d-grid"><button class="btn btn-outline-primary"><i class="fa-solid fa-filter"></i> Terapkan Filter</button></div>
  </form>
</div>
